@font-face {
  font-family: 'NHG Display';
  src: url('https://fonts.jamestannahill.com/NHGDisplay-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NHG Display';
  src: url('https://fonts.jamestannahill.com/NHGDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NHG Display';
  src: url('https://fonts.jamestannahill.com/NHGDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NHG Display';
  src: url('https://fonts.jamestannahill.com/NHGDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
